.catalog {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, auto);
  gap: $gapY $gapX;

  @media (max-width: ($cardWidth+$gapX)*4) {
    grid-template-columns: repeat(3, auto);
  }

  @media (max-width: ($cardWidth+$gapX)*3) {
    grid-template-columns: repeat(2, auto);
  }

  @media (max-width: ($cardWidth+$gapX)*2) {
    grid-template-columns: auto;
  }

  &__card {
    width: $cardWidth;
  }
}
